@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Caveat+Brush&family=Caveat:wght@600&family=Dancing+Script:wght@700&family=Fuggles&family=Pinyon+Script&display=swap');

/* For Desktop Viewing */

@media screen and (min-width: 1024px) {

    /* For Desktop Viewing */
    
    * {
        box-sizing: border-box;
        display: 0;
        padding: 0;
    }
}

/* nav and button content code */
.wrapper {
    display: flex;
    background-color: transparent;
    justify-content: right;
    align-items: center;
    min-height: 3vh;
    width: 820px;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 2px 2px black;
    text-align: center;
}

a {
    font-family: 'Dancing Script', cursive;
    background-color: transparent;
    position: relative;
    display: grid;
    padding: 10px 10px;
    letter-spacing: 4px;
    color: #03e9f4;
    font-size: 2rem;
    font-weight: bold;
    transition: .5s;
    overflow: hidden;
    margin-right: 10px;
    margin-left: 10px;
    text-decoration: none;
    border-radius: 5px;
    justify-content: center;
}

a:hover {
    background-color: #03e9f4;
    color: darkblue;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
}

a:first-child {
    filter: hue-rotate(225deg);
}

a:last-child {
    filter: hue-rotate(90deg);
}

a span {
    position: absolute;
    display: block;
}

a span:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: animate1 1s infinite;
}

@keyframes animate1 {
    0% {
        left: -100%;
    }
    100% {
        left: 100%;
    }
}

a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: animate2 1s infinite;
    animation-delay: .25s;
}

@keyframes animate2 {
    0% {
        top: -100%;
    }
    100% {
        top: 100%;
    }
}

a span:nth-child(3) {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: animate3 1s infinite;
    animation-delay: .5s;
}

@keyframes animate3 {
    0% {
        right: -100%;
    }
    100% {
        right: 100%;
    }
}

a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: animate4 1s infinite;
    animation-delay: .75s;
}

@keyframes animate4 {
    0% {
        bottom: -100%;
    }
    100% {
        bottom: 100%;
    }
}

/* Background Image for page - Mammoth Cave, Kentucky */
html {
    background-image: url(images/mamcave01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Header Content */
h1 {
    font-family: 'Fuggles', cursive;
    font-weight: bold;
    font-size: 150px;
    text-align: center;
    color: #DA0C0C;
    background-color: gold;
    text-shadow: 2px 1px black;
    border: 25px groove silver;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 75%;
}

/* Parks header and info content */
h2 {
    font-family: 'Fuggles', cursive;
    background-color: black;
    font-size: 75px;
    font-weight: bolder;
    color: dodgerblue;
    text-shadow: 2px 2px yellow;
    text-align: center;
    border: 10px double red;
    border-radius: 50%;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

#para01 {
    display: inline-flexbox;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    text-align: center;
    color: gold;
    text-shadow: 1px 1px blue;
    height: 75px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#para01 b {
    font-size: 32px;
    color: greenyellow;
    text-shadow: 1px 1px #DA0C0C;
}
/* End of Parks header and Info */

/* State Parks Header and Content */
h3 {
    display: block;
    background-color: black;
    font-family: 'Caveat', brush;
    font-size: 70px;
    text-align: center;
    border: 6px ridge greenyellow;
    overflow: visible;
    color: darkgoldenrod;
    text-shadow: 2px 2px white;
    border-radius: 100%;
    width: 33%;
    margin-left: auto;
    margin-right: auto;
    font-display: center;
}

#StParks {
    display: flexbox;
    column-width: auto;
    margin: 10px auto 20px auto;
}

ol {
    columns: 2;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    color: whitesmoke;
    text-shadow: 1px 1px red;
    min-width: 25%;
    max-width: 80%;
    margin: 10px auto 20px auto;
    border-bottom: 10px outset gold;
    
    

}

#StFor01 > ol > li {
    column-count: 3;
    column-span: 3;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    background-color: ;
    font-size: 75px;
    font-weight: bolder;
    font-family: 'Fuggles', cursive;
    color: fuchsia;
    text-shadow: 1px 1px black;
    text-align: center;
    font-display: center;
    margin-left: auto;

}

footer {
    font-family: 'Black Ops One';
    text-shadow: 1px 1px white;
    text-align: center;
    color: #DA0C0C;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 0px;
}
