@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Caveat+Brush&family=Caveat:wght@600&family=Dancing+Script:wght@700&family=Fuggles&family=Pinyon+Script&display=swap');

/* For Desktop View */
@media screen and (min-width: 1024px) {
    /* For Desktop Viewing */
    
    * {
        box-sizing: border-box;
        display: 0;
        padding: o;
    }
}

/* Responsive layout */

* {
    box-sizing: flexbox;
    display: 0;
    padding: 0;
}

body {
    background-image: url(images/creekfalls.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Style Header h1 and h2 */

.header h1 {
    font-family: 'Pinyon Script', cursive, bold;
    color: #03e9f4;
    font-size: 100px;
    text-align: center;
    text-shadow: 3px 3px darkblue;
    background-color: transparent;
    margin: 0;
    border-radius: 5px;
    align-items: end;
}

h2 {
    font-family: 'Pinyon Script', cursive;
    font-size: 80px;
    color: gold;
    text-shadow: 1.8px 1.5px black;
    text-align: center;
}

/* nav and button content code */
.wrapper {
    display: flex;
    background-color: transparent;
    justify-content: right;
    align-items: center;
    min-height: 3vh;
    width: 820px;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 2px 2px black;
    text-align: center;
}

a {
    font-family: 'Dancing Script', cursive;
    background-color: transparent;
    position: relative;
    display: grid;
    padding: 10px 10px;
    letter-spacing: 4px;
    color: #03e9f4;
    font-size: 2rem;
    font-weight: bold;
    transition: .5s;
    overflow: hidden;
    margin-right: 10px;
    margin-left: 10px;
    text-decoration: none;
    border-radius: 5px;
    justify-content: center;
}

a:hover {
    background-color: #03e9f4;
    color: darkblue;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
}

a:first-child {
    filter: hue-rotate(225deg);
}

a:last-child {
    filter: hue-rotate(90deg);
}

a span {
    position: absolute;
    display: block;
}

a span:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: animate1 1s infinite;
}

@keyframes animate1 {
    0% {
        left: -100%;
    }
    100% {
        left: 100%;
    }
}

a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: animate2 1s infinite;
    animation-delay: .25s;
}

@keyframes animate2 {
    0% {
        top: -100%;
    }
    100% {
        top: 100%;
    }
}

a span:nth-child(3) {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: animate3 1s infinite;
    animation-delay: .5s;
}

@keyframes animate3 {
    0% {
        right: -100%;
    }
    100% {
        right: 100%;
    }
}

a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: animate4 1s infinite;
    animation-delay: .75s;
}

@keyframes animate4 {
    0% {
        bottom: -100%;
    }
    100% {
        bottom: 100%;
    }
}

/* Index Styles */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding-block: 1rem;
    width: min(95%, 70rem);
    margin-inline: auto;
    grid-column-start: 2;
}

.column:nth-child(2) {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
}
.column:last-child {
    column-span: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}
.column:nth-child(3) {
    grid-column-start: 1;
    grid-row-start: 2
}
.column:first-child {
    grid-column-start: 3;
    grid-row-start: 1;
}

.col-span {
    grid-column: span 2;
}

#col1 {
    font-family: 'Courier New', Courier, monospace;
    background-color: darkgrey;
    font-weight: 700;
    color: red;
    font-size: 15px;
    font-weight: bolder;
    text-align: center;
    text-shadow: 1px 1px black;
    border: 1px solid lightblue;
    border-radius: 8px;
}

#col2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: cornflowerblue;
    color: goldenrod;
    padding: 2rem;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px black;
    border: 1px solid brown;
    border-radius: 0.5rem;
}

#col3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
    border-radius: 20px;
    color: green;
    font-size: 17px;
    font-weight: bolder;
    text-align: center;
    text-shadow: 1px 1px gold;
    border: 4px double black;
}

#col4 {
    background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: coral;
    justify-content: right;
    font-size: 21px;
    font-weight: normal;
    text-align: center;
    text-shadow: 1px 1px red;
    border: 4px double red;
    border-radius: 10px;
}

#ass01 {
    font-family: 'Fuggles';
    font-size: 3rem;
    font-weight: bolder;
    text-align: center;
    text-shadow: 1px 1px gold;
    color: red;
}

.footer {
    font-family: 'Black Ops One';
    text-align: center;
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
}



